<html>

<head>
    <title>
        Demo Chat
    </title>
    <style>

    </style>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    
    <link rel="stylesheet" type="text/css" href="layout.css"/>
    <script>
  
      
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="loginForm">
            <h1>WHAT 'S YOUR NAME?</h1>
            <input type="text" id="txtUsername"/>
            <input type="button" value="Register" id="btnRegister"/>
        </div>
        <div id="room">
            <input type="text" id="txtRoom"/>
            <input type="button" id="btnTaoroom" value="Tạo room"/>
            <br><div id="trai">
                <h3>Rooms đang có</h3>
                <div id="dsRoom"></div>
            </div>
            <div id="phai">
                <h4 id="roomHienTai">...</h4>
            </div>
            <input type="text" id="txtMessageChat"/>
            <input type="button" value="Chat" id="btnChat"/>
        </div>
        <div id="chatForm">
            <div id="left">
                <div id="boxTitle">Users online</div>
                <div id="boxContent"> 
                    
                </div>
            </div>
            <div id="right">
                <div id="sayHi">
                    Hello <span id="currentUser">Tèo</span>
                    <input id="btnLogout" type="button" value="Logout"/>
                 </div>
                 <div id="listMessages">

                 </div>
                 <div id="thongbao"></div>
                 <input id="txtMessage" type="text"/>
                 <input type="button" id="btnSendMessage" value="Send"/>
            </div>
        </div>
    </div>
</body>


</html>