<html>

<head>
    <title>
        Demo Chat
    </title>
    <style>

    </style>
    <script src="jquery.js"></script>
    <script src="xuly.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css"/>
    <script>
   
      
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="loginForm">
            <h1>WHAT 'S YOUR NAME?</h1>
            <input type="text" id="txtUsername"/>
            <input type="button" value="Register" id="btnRegister"/>
        </div>
        <div id="chatForm">

        </div>
    </div>
</body>


</html>