<html>

<head>
    <title>
        Demo Chat
    </title>
    <style>

    </style>
    <script src="jquery.js"></script>
    <script src="xuly.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css"/>
    <script>
        var socket = io("http://localhost:3000");
        socket.on("Server-send-data", function (data) {
            $('#noidung').append(data + "<br>");
            var x1 = document.getElementById("myAudio");
            x1.play();
        });
        socket.on("Server-send-mau", function (data) {
            $('body').attr("bgColor", data);
            //var x1 = document.getElementById("myAudio"); 
            //  x1.play(); 
        })
      
    </script>
</head>
<body>
</body>


</html>