<html>
    <title>
        trang chủ demo
    </title>
    <head>
            <script src="jquery.js"></script>
            <script src="socket.io/socket.io.js"></script>
            <script src="xuly.js"></script>
            <link rel="stylesheet" type="text/css" href="layout.css"/>

    </head>

</html>